/* Start of CSS File*/
:root {
 --body-background: color(from lightblue srgb r g b / 0.2)
}
body {
    background-color: var(--body-background, white)
}

header {
  background-color: lightblue;
  color: #000;
}

body > p {
  background-color: rgb(251, 151, 193);
}

h2 {
  color: hsl(0, 73%, 64%)
}

nav {
  background-color: color-mix( in srgb, pink 60%, yellow);
}
