/* Start of CSS File*/
:root {
 --body-background: color(from lightblue srgb r g b / 0.2)
}
a:hover {
 background-color: gray;
}
body {
    background-color: var(--body-background, white)
}

header {
  font-size: 1em;
  background-color: lightblue;
  color: #000;
  min-width: 8in;
  max-width: 10in;
  height: 101px;
  width: 11in;
  margin: auto
}

header > h3 {
    background-color: white;
    font-size: 2.5vh;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

body > p {
  margin-top: 15px;
  font-size: 1.1rem;
  background-color: rgb(251, 151, 193);
  width: 5cm;
}

h2 {
  color: hsl(0, 70%, 65%);
  text-decoration:underline;
  text-align: center;
}

nav {
  background-color: color-mix( in srgb, pink 60%, yellow);
}

#Table-of-Contents {
    display: flex;
    flex-wrap: wrap;
}

#Table-of-Contents > h2 {
    flex: 100%;
}

#Table-of-Contents > nav {
    flex: 100%;
}

#Table-of-Contents > nav > ol {
    display: flex;
    flex-direction: row;
}

#Table-of-Contents > nav > ol > li {
    flex:20%;
}


#Attendance {
    background-color: pink;
    justify-content:end;
    position: fixed;
    right:10px;
    height: auto;
}

#Attendance > details {
    border-bottom-color: black;
    border-bottom-style: double;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Attendance > details:active {
    background-color: gray;
}
#Agenda {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    column-gap: 10px;
}
 
.fieldsets {

  display: grid;
  grid-template-columns: 50% 50%;
}

.fieldsets > fieldset{
  position:relative;
  width: 90%;
  border-radius: 10px;
  border-width: 10px;
  border-style:dotted;
  border-color: crimson;
}

 #Meeting-Discussion {
    display: block;
 }

#Meeting-Discussion > span {
    padding-left: 50px;

}
#Meeting-Discussion > img {
    display: none;
   
}
#Meeting-Discussion > p {
    display: inline-block;
    width: 15%;
}

#Meeting-Discussion > ul {
    display: inline-block;
    width: 15%;
}
